/* Reset some default styles */
body, ul {
    margin: 0;
    margin-top: 1px;
    padding: 0;
    box-sizing: border-box;
}

.navbar {
    position: sticky;
    top: 1px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 2rem;
    background-color: #010101;
    color: #fff;
}

.navbar-brand {
    font-size: 1.5rem;
    font-weight: bold;
}

.navbar-menu {
    list-style: none;
    display: flex;
    gap: 1.5rem;
}

.navbar-menu li a {
   text-decoration: none;
    color: #fff;
    font-size: 1rem;
    transition: color 0.3s ease;
}

.navbar-menu li a:hover {
    color: #12f3f3; 
    text-decoration: underline;
}
.bigbox{
    height: 100vh;
    padding:0px 125px;
     display: flex;
     background-color: #f1f1f1;
   
}
.right{
    background-color: white;
    height: 100vh;
    width: 50%;
    display: inline-block;
    Box-shadow : 15px 3px 20px 14px rgba(0, 0, 0, 0.4)


}
.info{
    margin-top: 65px;

}
.info p{
     font-weight: 550;
}

.close{
    margin: 0;
    display: flex;
}




.left{
    background-color: white;
    height: 100vh;
    width: 50%;
    display: inline-block;
    Box-shadow :18px 3px 20px -18px rgba(0, 0, 0, 0.4)
}
#home{
    padding: 20px 80px;
    line-height: 2rem;
    font-weight: 500;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
.left h2{
    margin-top: 65px;
    margin-left: 40px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

}
img{
    float: left;
    width: 100%;
    overflow: hidden;
    width: 220px;
    padding-block: 50px;
    padding-inline: 25px 60px;
}


.skills {
    width: 300px;
    margin-block: auto;
    margin-inline: 35px;
}

.skill {
    margin-bottom: 20px;
}

.skill h3 {
    display: flex;
    justify-content: space-between;
    margin: 0 0 5px 0;
}

.bar {
    background: #f1f1f1;
    border-radius: 25px;
    overflow: hidden;
    height: 20px;
}

.fill {
    background: #3498db;
    height: 100%;
    border-radius: 25px;
}
